@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AppStyles />
        <div class="top-row px-4">
            <a href="https://docs.google.com/presentation/d/1kvgNvYK0ixrUBwtIcwB2xRqzvf3C58G-IkdvmLm-jBQ/edit?usp=sharing" target="">Slides</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

